* {
  margin: 0;
  box-sizing: border-box;
}


#Navbar {
  background-color: black;
  color: white;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

#postPageContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 20px;
}

#postHeader {
  text-align: center;
}

#loginForm {
  display: flex;
  gap: 20px;
}

#searchContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

#searchContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

#all-posts {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.individual-post {
  padding: 20px;
  border: solid 1px black;
  display: flex;
  gap: 15px;
  flex-direction: column;
}

