:root {
  --lightYellow: #FAF7E1;
  --blue: #99D1FF;
  --lightPink: #F3C8F7;
  --darkBlue: #90C5F0;
}

* {
  margin: 0;
  box-sizing: border-box;
  /* border: solid black 1px; */
  border-radius: 5px;
}


button, a {
  border: none;
  background-color: inherit;
  font: inherit;
  margin: 0;
  padding: 0px;
  display: block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  display: block;
}


body {
  background-color: var(--lightYellow);
  font-family: apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

#app {
  height: 100vh;
}

.generic-flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#main {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  width: 100vw;
}


#Navbar {
  background-color: var(--blue);
  color: white;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-row: 1;
  grid-column: 1;
  min-height: 4rem;
}

#Navbar input {
  border: none;
  background-color: white;
}



#leftNavbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

#rightNavbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  min-width: 0;
}

.navbar-icons {
  height: 3rem;
  cursor: pointer;
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 3px;

  height: 3rem;
  color: inherit;
  text-decoration: none;
}

.icon-wrapper p {
  font-size: 0.65rem;
  text-align: center;
}


#navbar-not-logged-in {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}

#navbar-logged-in {
  gap: 20px;
  align-items: center;
}

#logged-in-actions {
  gap: 10px;
}

#postFilter:focus {
  outline: none;
}

#mainContent {
  display: grid;
  grid-template-rows: minmax(0, 1fr);
  grid-template-columns: 1fr auto;

  min-height: 0;
  grid-row: 2;
  grid-column: 1;
}

#post-page-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 20px;
  position: relative;
  overflow: scroll;

  min-height: 0;
  padding: 20px;
  grid-row: 1;
  grid-template-columns: 2;
}

#post-header-container {
  height: 4rem;
  gap: 10px;
  color: var(--blue)
}

#post-header {
  text-align: center;
  font-size: 3rem;
}


#show-submission-page {
  position: absolute;
  top: 10px;
  right: 10px;
}

#show-message-page {
  position: absolute;
  top: 10px;
  left: 10px;
}

#post-submission-parent {
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;

  grid-row: 1;
  grid-column: 2;
  width: 30vw;
}

#postSubmissionForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#submissionPostDescription {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#submissionPostDescriptionInput {
  height: 5rem;
}


.login-input-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-shrink: 1;
}

#loginFormParent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;
  justify-content: flex-end;
}

#loginFormContainer {
  display: flex;
  gap: 20px;
  flex-direction: row;
}

#loginSubmitContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

#header-x {
  font-size: 1rem;
}



#searchContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
  height: 1.5rem;
  background-color: white;
}

#searchContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

#all-posts-plus-attribution {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: scroll;
  align-items: center;
  gap: 50px;
}

#all-posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 10px;
  justify-content:space-evenly;
  margin-left: auto;
  margin-right: auto;
}

#attribution {
  font-size: 0.75rem;
  width: 30%;
  text-align: center;
}

.individual-post-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  flex-grow: 0;
  padding: 20px;
  border: solid 1px var(--darkBlue);
}

.individual-post-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-grow: 0;
  flex-basis: 400px;
  min-width: 400px;
  max-width:400px;
}

.individual-post {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.message-content {
  flex-basis: 300px;
  flex-grow: 0;
  min-width: 300px;
  max-width:300px;
}

.my-post {
  border: solid 2px red;
}

.my-post h3 {
  color: red;
}



#auth-user-post-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#message-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  padding: 20px;

  grid-column: 2;
  grid-row: 1;
}

#message-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#messages-header {
  text-align: center;
}


.individual-message {
  padding: 20px;
  border: solid 1px black;
}


@media (max-width: 1000px) {
  #loginFormContainer {
    flex-direction: column;
  }
}