* {
  margin: 0;
  box-sizing: border-box;
}


#Navbar {
  background-color: black;
  color: white;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

#Navbar a {
  color: inherit;
}

#rightNavbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
}

#mainContent {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: nowrap;
}

#postPageContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 20px;
  position: relative;
}

#postHeader {
  text-align: center;
}

#show-submission-page {
  position: absolute;
  top: 10px;
  right: 10px;
}

#post-submission-parent {
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  flex: 0 0 30vw;
}

#postSubmissionForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#submissionPostDescription {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#submissionPostDescriptionInput {
  height: 5rem;
}

#loginFormParent {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

#loginFormContainer {
  display: flex;
  gap: 20px;
}

#loginSubmitContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-end;
  justify-content: center;
}

#searchContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;

}

#searchContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

#all-posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 10px;
  justify-content:space-evenly;
  margin-left: auto;
  margin-right: auto;
}

.individual-post-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-basis: 300px;
  max-width: 700px;
  padding: 20px;
  border: solid 1px black;
}

.individual-post {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.my-post {
  border: solid 2px red;
}

.my-post h3 {
  color: red;
}



#auth-user-post-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
